.ingredients-list-wrapper {
  .ingredient-item {
    display: flex;
    align-items: center;
  }

  .ii-control {
    flex-basis: 200px;
  }

  .ii-control-munit {
    flex-basis: auto;
  }

  .ii-control-new {
    display: flex;
    align-items: center;

  }

  .iicn-unit-select {
    width: 200px;
  }
}
